

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

#site-wrapper{
	background-color:oldlace;
	position:relative;
	height:150px;cs
	width:100%;
}
#top-nav{
	float:right

	
}

#site-header{
	height:30px;
	width:65%;
	margin-left:0px;
	position:relative
	
}


#menu-wrapper{
	position:relative;
	background-color:brown;
	height:30px;
	width:100%;
}
#main-menu {
	margin:0 auto;
	height:30px;
	width:65%;
	position:relative;
	
}
li{
	float:left;
	padding:5px;
}
#home{
	padding:0px;
}
#content-wrapper{
	height:600px;
	width:100%;
	position:relative;
	clear:both;
	background-color:white;
}
#content{
	background-color:white;
	width:65%;
	height:600px;
	clear:both;
	position:relative;
	margin:0 auto;
}
#page{
	padding:25pt;
	font-family:helvetica;
	font-size:10pt;
	font-color:brown;
	width:50%;
	float:left;
}
h1{
	font-size:20pt;
	font-family:helvetica;
	font-color:brown;
}
h2{
	font-size:14pt;
	
}
#sidebar{
	width:30%;
	padding-top:25px;
	position:relative;
	float:right;
	height:500px;
	
}
#footer-wrapper{
	position:relative;
	background-color:brown;
	height:120px;
	width:100%;
	clear:both;
	
}

#site-footer{
	width:65%;
	margin-left:200px;
	
}

#footer-contact{
	font-size:10pt;
	width:25%;
	height:50px;
	float:left;
	padding-top:25px;
	
	
}
#footer-follow{
	float:right;
	width:40%%;
	height:70px;
	padding-top:25px;
	
	
}


body {
	
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

